<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja;ru"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
 	<add key="eXpressAppFrameworkTraceLevel" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=False;Pooling=false;Data Source=betomovilasus;Initial Catalog=SBT.Apps.medicoEasyTest;User ID=usradmin;Password=adminsiaf;" />
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\v11.0;Initial Catalog=SB.Apps.Medico" />
    <add name="medico" connectionString="Integrated Security=False; Pooling=false;Data Source=betomovilasus;Initial Catalog=Medico;User ID=usradmin;Password=adminsiaf;" />
  </connectionStrings>
</configuration>