<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net48" />
  <package id="NuxeoClient" version="1.0.0-beta-44070" targetFramework="net48" />
</packages>